header { grid-area: header;}
main {grid-area: main;}
footer{grid-area: footer;}

.container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
}

a {
    display:flex;
    width:90px;
    height:90px;
    padding: 20px;
    background-color:white;
    border:1px solid black;
}