body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    width: 300px;
}

main div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

div button {
    margin: 1em;
}

div[data-color='blue'] {
    background-color: blue;
}

div[data-color='red'] {
    background-color: red;
}